@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
.activeNav{
  background-color: #222224;
}
.swiper{
  margin-top: 20px;
}

///Swiper libary//
.swiper-slide img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  user-select: none;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: absolute;
  bottom: 379px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.swiper-slide {
  width: 60% !important;
  height: 600px !important;
  position: relative;
  margin: 0 80px;
  @media (min-width: 640px) and (max-width: 1024px) {
    width: 90% !important;
    margin: 0 80px;
  }
}

.slider-controler .swiper-button-next {
  left: 75%;
  color: #fff;
}
.slider-controler .swiper-button-prev {
  left: 23%;
  color: #fff;
}


.slider-controler .slider-arrow::after {
  content: '';
}
.swiper-slide-prev {
    img {
      opacity: 0.4;
    }
    .container-content {
      visibility: hidden;
    }
    .btn-box{
      visibility: hidden;
    }
  }
  .swiper-slide-next {
    img {
      opacity: 0.4;
    }
    .container-content {
      visibility: hidden;
    }
    .btn-box{
      visibility: hidden;
    }
  } 
